/* === Top nav module === */

.top-nav {
    position: absolute;
    top: 0;

    width: 100%;

    background-color: hsla(0, 0%, 0%, .3);

    .wrap {

      @media #{$mobile} {
        padding: 0 20px;
      }

      @media #{$tablet-desktop} {
        padding: 0 40px;
        max-width: 940px;
        margin: 0 auto;
      }
    }

    .logo {

        float: left;
        z-index: 5;

        @media #{$mobile} {
            padding-top: 20px;
            margin-left: 20px;
        }

        @media #{$tablet} {
            padding-top: 27px;
            margin-left: 40px;
        }

        @media #{$desktop} {
            padding-top: 27px;
        }

        &__letter {

          display: none;
          transition: all .3s ease-in-out;

          @media #{$tablet-desktop} {
            &--tablet-desktop {
              display: block;
            }
          }

          @media #{$mobile} {
            &--mobile {
              display: block;
            }
          }
        }

        &__star {
          display: none;

          @media #{$desktop} {
            display: block;
            transition: all .3s ease-in-out;
          }


        }

        &__glasses {

          display: none;
          transition: all .3s ease-in-out;

          @media #{$tablet} {
              display: block;
          }

          @media #{$desktop} {
            &--desktop {
              display: block;
            }
          }
        }

        // &:hover {
        //
        //   & .logo__star {
        //     animation-name: colorPulse;
        //     animation-duration: .6s;
        //     animation-iteration-count: infinite;
        //     animation-direction: alternate;
        //     animation-fill-mode: forwards;
        //   }
        //
        //   & .logo__letter {
        //     fill: #d22856;
        //   }
        //
        //   & .logo__glasses {
        //     fill: #d22856;
        //   }
        // }
    }
}



.main-nav {
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.nav-list {
  display: none;
}

.nav-list-active {
  display: block;
  background: #283645;
}

.main-nav-active {

  @media #{$mobile-tablet} {
    right: 0;
    left: 0;
    z-index: 2;

    .logo {
      margin-left: 20px;
    }
  }

}



  .nav {

    &-list {

      animation: appear .3s ease-out;

      &-fade {
        animation: disappear .3s ease-out;
      }

      @keyframes appear {
        from { margin-top: -300px; }
        to   { margin-top: 1px; }
      }
      @keyframes disappear {
        from { margin-top: 1px; }
        to   { margin-top: -300px; }
      }

      @media #{$mobile} {
        padding-top: 69px;
        // display: block;
      }


      @media #{$tablet} {
        padding-top: 109px;
        // display: block;
      }

    }

    &-item {
        &:first-child {

          .nav-link {
            @media #{$mobile-tablet} {
                border-top: 1px solid rgba(0, 0, 0, 1);
            }

          }
        }
    }

    &-link {
      @media #{$mobile} {
          display: block;
          text-align: center;
          padding: 15px 0;
          font-size: 18px;
          line-height: 32px;
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px black;

          &:hover {
            color: #d22856;
          }
      }
      @media #{$tablet} {
          display: block;
          text-align: center;
          padding: 15px 0;
          font-size: 18px;
          line-height: 32px;
          color: #fff;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
          box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.15), inset 0px -1px 0px 0px black;

          &:hover {
            color: #d22856;
          }
      }

    }
  }



@media #{$desktop} {
  .main-nav {
    display: block;
    background: transparent;
    position: relative;
    // outline: 2px dashed crimson;
    // outline-offset: -2px;

  }

  .nav {

    &-list {
      white-space: nowrap;
      display: block;
      // outline: 1px solid limegreen;
      // outline-offset: -1px;
      padding-top: 45px;
      padding-bottom: 47px;
      text-align: right;
    }

    &-item {
      display: inline-block;
      vertical-align: top;
      margin-left: 64px;
      &:nth-child(2) {
        margin-left: 71px;
      }
      &:nth-child(3) {
        margin-left: 60px;
      }
    }

    &-link {
      display: block;
      position: relative;
      text-align: center;
      padding: 0;
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      text-transform: none;
      box-shadow: none;
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 50%;
        width: 0;
        background-color: #fff;
        transition: all .3s;
        opacity: 0;
      }
      &:hover {

        &::after {
          left: 0;
          bottom: -10px;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

.btn-burger {
    position: relative;
    float: right;
    cursor: pointer;
    transition: all .1s ease-in-out;
    z-index: 3;

    // outline: 3px dashed steelblue;
    // outline-offset: -2px;

    @media #{$tablet} {
        width: 90px;
        height: 110px;
        right: -20px;
    }

    @media #{$mobile} {
        width: 50px;
        height: 66px;
    }

    @media #{$desktop} {
        display: none;
    }

    & span {
        position: absolute;
        top: 50%;

        width: 50px;

        transition: all 300ms;
        transform: translateY(-50%);

        border-top: 4px solid #fff;


        @media #{$tablet} {
          right: 20px;
        }

        &::before,
        &::after {
            position: absolute;
            right: 0;

            width: 50px;

            content: "";
            transition: all 300ms;

            border-top: 4px solid #fff;
        }
        &::before {
            top: -14px;
        }
        &::after {
            top: 6px;
        }
    }
    &:hover {
        & span {
            border-color: #d22856;

            &::before,
            &::after {
                border-color: #d22856;

                @media #{$mobile-tablet} {
                    right: 0;
                }
            }

        }
    }

    &-active {

      &:hover {
        span {
            border-color: transparent;
        }
      }

        & span {
            border-color: transparent;

            &::before {
                top: 0;
                width: 30px;
                transform: rotate(-45deg);
                border-color: #d22856;
            }

            &::after {
                top: 0;
                width: 30px;
                transform: rotate(45deg);
                border-color: #d22856;
            }

            &::before,
            &::after {
                border-color: #d22856;

                @media #{$mobile-tablet} {
                    right: 0;
                }
            }

            @media #{$mobile} {
              top: 26px;
              transform: none;
            }
        }

    }
}
