/* === Offer module === */

.offer {
    .wrap {
        padding: 40px 20px 4px;

        @media #{$tablet} {
          padding-bottom: 18px;
          margin-bottom: 35px;
          padding-top: 50px;
        }

        @media #{$desktop} {
          padding-top: 77px;
          padding-bottom: 77px;
        }
    }

    &-line {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;

        margin-bottom: 27px;

        text-align: center;

        color: #283645;

        @media #{$tablet} {
          font-size: 40px;
          line-height: 48px;
          &:first-child {
              margin-bottom: 0;
          }
        }

        @media #{$desktop} {
          font-size: 50px;
          line-height: 60px;
          &:first-child {
              margin-bottom: 0;
          }
        }

        &:last-child {
            margin: 0 auto;
            @media #{$mobile} {
              width: 280px;
            }
            @media #{$tablet} {
              width: 340px;
            }
            @media #{$desktop} {
              width: 460px;
            }
        }
    }
}
