/* === Research module === */

.research {
    display: block;

    min-height: 283px;
    padding-top: 97px;
    padding-left: 310px;

    background-image: url("../img/bg-timer.svg");
    background-repeat: no-repeat;
    background-position: top 56px left 40px;
    background-size: 262px 302px;

    @media #{$mobile} {
      display: none;
    }

    @media #{$tablet} {
      padding-top: 55px;
      background-position: top 15px left 40px;
    }

    .wrap {
      padding: 0 40px;
    }

    &-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;

        margin-bottom: 9px;
        padding-right: 140px;

        color: #000;
    }

    &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        margin-bottom: 10px;
        padding-right: 10px;

        color: #283645;
    }

    &-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        text-decoration: underline;

        color: #d22856;
        &:hover {
            text-decoration: none;
        }
    }
}
