/* === Reviews module === */

.reviews {

    @media #{$tablet} {
        padding-bottom: 13px;
    }

    @media #{$desktop} {
      margin: 0 auto;
      background-image: url('../img/quotes.svg');
      background-repeat: no-repeat;
      background-position: 50% 72px;
    }

    .wrap {
        padding: 0 20px;

        @media #{$desktop} {
          padding: 0 130px;
          max-width: 940px;
          margin: 0 auto;
        }
    }

    .outer {
        padding-bottom: 36px;

        @media #{$mobile} {
          padding-top: 42px;
        }

        @media #{$tablet} {
            padding-top: 10px;
            padding-bottom: 20px;
        }

        @media #{$desktop} {
            position: relative;
            padding-top: 167px;
            padding-bottom: 4px;
        }
    }

    .item {
        position: relative;
        /* medaia: */
        overflow: hidden;
        display: none;
        transition: all .3s;
        //
    }

    .comment {
        text-align: center;

        @media #{$desktop} {
          max-width: 700px;
          margin: 0 auto;
        }
    }

    .text {
        font-size: 14px;
        line-height: 30px;

        color: #283645;

        @media #{$mobile} {
          padding-top: 43px;
        }

        @media #{$mobile-tablet} {
          position: relative;

          &::before {
            content: "«";
          }
          &::after {
            content: "»";
          }
        }

        @media #{$tablet-desktop} {
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 35px;
        }

        @media #{$desktop} {
          padding-top: 17px;
        }
    }

    .author {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;

        color: #000;

        @media #{$mobile} {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;

            display: block;

            vertical-align: top;
        }

        @media #{$tablet} {
          font-size: 20px;
          line-height: 30px;
        }

        @media #{$desktop} {
          font-size: 24px;
          line-height: 30px;
        }
    }

    .about-author {
        font-size: 14px;
        line-height: 30px;

        color: #283645;

        @media #{$mobile} {
            display: none;
        }

        @media #{$tablet} {
            margin-top: 2px;
        }

        @media #{$desktop} {
            font-size: 18px;
            line-height: 30px;
            padding-top: 3px;
        }
    }

    & input[type="radio"] {
      display: none;
    }

    &-controls {
        z-index: 999;
        font: 0/0 a;

        margin-top: 33px;

        text-align: center;

        // outline: 1px dashed crimson;
        // outline-offset: -1px;

        @media #{$mobile} {
          margin-top: 36px;
        }

        @media #{$tablet} {
          margin-top: 34px;
        }

        @media #{$desktop} {
          // display: none;
        }
    }

    &-toggle {
      font: 0/0 a;

      display: inline-block;
      margin-right: 15px;

      cursor: pointer;
      transition: all .3s;
      vertical-align: top;

      color: transparent;
      border-radius: 50%;
      @media #{$mobile-tablet} {
          background: hsla(211,42%,27%,.3);
          width: 6px;
          height: 6px;
      }


      &:last-child {
          margin-right: 0;
      }

      &::before,
      &::after {
        @media #{$desktop} {
          content: "";
          position: absolute;
          display: none;
          top: 216px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-bottom: 2px solid rgba(40,54,69,.3);
          border-right: 2px solid rgba(40,54,69,.3);
          background-color: transparent;
        }
      }

      &::before {
        @media #{$desktop} {
          left: 5px;
          transform: rotate(135deg);
        }
      }

      &::after {
        @media #{$desktop} {
          right: 5px;
          transform: rotate(-45deg);
        }
      }
    }


    .button {
        display: inline-block;

        width: 6px;
        height: 6px;
        margin-right: 13px;

        cursor: pointer;
        vertical-align: top;

        border: 3px solid #fff;
        border-radius: 50%;
        background: #bec2c7;

        &.active {
            border: 3px solid #283645;
            background: #fff;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &.box::after {
      min-height: 25px;
      background-size: 100% 25px;
    }
}

/* css slider */

#toggle-reviews-1:checked ~ .reviews-controls label[for="toggle-reviews-1"],
#toggle-reviews-2:checked ~ .reviews-controls label[for="toggle-reviews-2"],
#toggle-reviews-3:checked ~ .reviews-controls label[for="toggle-reviews-3"] {
    background: #fff;
    @media #{$mobile-tablet} {
        box-shadow: 0 0 0 3px hsla(211,42%,27%,1);
    }
}

#toggle-reviews-1:checked ~ .reviews-item-1,
#toggle-reviews-2:checked ~ .reviews-item-2,
#toggle-reviews-3:checked ~ .reviews-item-3 {
    display: block;
}

.reviews-input:first-of-type:checked ~ .reviews-controls .reviews-toggle-3::before,
 .reviews-input:last-of-type:checked ~ .reviews-controls .reviews-toggle-1::after,
.reviews-input[id=toggle-reviews-1]:checked ~ .reviews-controls .reviews-toggle-2::after,
.reviews-input[id=toggle-reviews-2]:checked ~ .reviews-controls .reviews-toggle-1::before,
.reviews-input[id=toggle-reviews-2]:checked ~ .reviews-controls .reviews-toggle-3::after,
.reviews-input[id=toggle-reviews-3]:checked ~ .reviews-controls .reviews-toggle-2::before {
    display: block;
}

/* eof css slider */
