/* === Prices module === */

.table {
    // position: relative;
    width: 300%;
    min-width: 840px;

    table-layout: fixed;
    border-spacing: 2px;
    border-collapse: collapse;

    text-transform: uppercase;

    border-color: gray;

    @media #{$mobile} {
        transition: transform 1s;
    }
    @media #{$tablet-desktop} {
        width: 100%;
        min-width: 620px;
    }

    th {
        position: relative;

        width: 100%;
        height: 58px;
        padding: 16px 20px 20px;

        text-align: center;

        color: #fff;
        border-right: 2px solid #e5e5e5;
        background-color: #283645;
        @media #{$mobile} {
            &:first-child {
                display: none;
            }
        }
        &:last-child {
            border-right: none;
        }
        @media #{$tablet-desktop} {
            width: 25%;
            padding: 12px 20px 8px;
            &:first-child {
                visibility: hidden;

                opacity: 0;
            }
        }

        @media #{$desktop} {
          padding: 16px 20px 20px;
        }
    }

    td {
        position: relative;

        height: 34px;
        padding: 15px 70px 10px 22px;

        border: 2px solid #e5e5e5;
        border-top: none;
        background: #fff;
        @media #{$mobile} {
            &::before {
                font-size: 14px;
                line-height: 30px;

                content: attr(data-option);
                text-transform: uppercase;
            }
            &:first-child {
                display: none;
            }
        }
        @media #{$tablet} {
            padding: 6px 15px 5px 15px;
            &:first-child {
                border-top: 2px solid #e5e5e5;;
            }
        }
    }
}

/* slider begin */

.prices {
    @media #{$tablet} {
        max-width: 1020px;
        padding-bottom: 68px;
    }

    .wrap {

      @media #{$tablet} {
        padding: 0 40px;
      }
      @media #{$desktop} {
        padding: 0 130px;
      }

    }

    .outer {
        position: relative;
        min-width: 280px;
        padding-top: 97px;
        padding-bottom: 40px;
        overflow: hidden;
        color: #283645;

        @media #{$mobile} {
          padding-left: 20px;
          padding-right: 20px;
          // overflow: hidden;
        }

        @media #{$tablet} {
          padding-top: 76px;
          padding-bottom: 0;
          padding-right: 0;
          padding-left: 0;
        }

        @media #{$desktop} {
          padding-top: 156px;
          padding-bottom: 95px;
        }

        // outline: 3px dashed crimson;
        // outline-offset: -2px;
    }

    &-input {
        display: none;
    }

    &-controls {
        z-index: 999;

        width: 140px;
        margin: 0 auto;
        margin-top: 43px;

        text-align: center;

        outline: 1px dashed tomato;
        outline-offset: 0;
        @media #{$tablet-desktop} {
            display: none;
        }
    }

    &-slide {
        font: 0/0 a;

        display: inline-block;

        width: 6px;
        height: 6px;
        margin-right: 15px;

        cursor: pointer;
        transition: all .3s;
        vertical-align: top;

        color: transparent;
        border-radius: 50%;
        background: hsla(211,42%,27%,.3);
        &:last-child {
            margin-right: 0;
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;

        margin-bottom: 2px;
        @media #{$tablet} {
            font-size: 16px;

            margin-bottom: -3px;
        }
    }

    .cost {
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        @media #{$tablet} {
            font-size: 18px;
        }
    }

    .option {

        @media #{$tablet-desktop} {
            font-size: 14px;
            line-height: 30px;

            text-transform: none;
            padding-right: 22px;
        }

        @media #{$desktop} {
          font-size: 18px;
          line-height: 30px;
        }
    }


    .icon {
        font: 0/0 a;

        position: absolute;
        top: 50%;
        right: 19px;

        transform: translateY(-50%);
        @media #{$tablet-desktop} {
            right: 50%;

            transform: translate(50%, -50%);
        }
    }

    .icon-svg {
        overflow: hidden;
    }

    .svg-icon-yes {
        width: 31px;
        height: 21px;
    }

    .svg-icon-no {
        width: 27px;
        height: 27px;
    }

    .hit {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 74px;
        height: 73px;

        // @media #{$mobile} {
        //     left: -2px;
        // }
        &::before {
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;

            position: absolute;
            top: 12px;
            left: -35px;

            width: 120px;
            height: 30px;

            content: "хит";
            transform: rotate(-45deg);
            text-align: center;
            text-transform: uppercase;
            // left: -35px;
            // top: 12px;

            background-color: #bc345c;
        }
        @media #{$tablet} {
            left: 0;
            &::before {
                top: 4px;
                left: -40px;
            }
        }
    }
}

#prices-slide-1:checked ~ .prices-controls label[for="prices-slide-1"],
#prices-slide-2:checked ~ .prices-controls label[for="prices-slide-2"],
#prices-slide-3:checked ~ .prices-controls label[for="prices-slide-3"] {
    background: #fff;
    box-shadow: 0 0 0 3px hsla(211,42%,27%,1);
}

@media #{$mobile} {
  .prices-input[id="prices-slide-1"]:checked ~ .table {
      transform: translateX(0%);
  }
  .prices-input[id="prices-slide-2"]:checked ~ .table {
      transform: translateX(-33.33%);
  }
  .prices-input[id="prices-slide-3"]:checked ~ .table {
      transform: translateX(-66.66%);
  }
}


/* eof slider */
