/* === Map module === */

.map {

    // background-color: hsla(116, 100%, 16%, .58);

    &-image {

        @media #{$mobile} {
          min-height: 200px;
        }

        @media #{$tablet} {
          min-height: 380px;
        }

        @media #{$desktop} {
          min-height: 525px;
        }
    }
}
